body {
    background-color: #EBEBEB;
}

h1 {
    font-family: Garamond;
    border: 2px solid #3399FF;
    border-bottom-width: 0px;
    border-right-width: 0px;
}

a:link {
  color:#0000FF;
  text-decoration: none;
}



a:visited {
  color:#0000FF;
  text-decoration: none;
}

a:hover {
  color: #996600;
}
