html {
    height: 100%;
}

body {
    background-color: #EBEBEB;
    margin: 0;
    padding: 0;
    height: 100%;
}

#menu {
    position: relative;
    float: left;
    clear: both;
    background-color: green;
    min-height = 100%;
    width: 135px;
}

h1 {
    font-family: Garamond;
    border: 2px solid #3399FF;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 5px;
    background-color: #FFFFCC;
    padding-left: 20px;
}

a:link {
  color:#0000FF;
  text-decoration: none;
}



a:visited {
  color:#0000FF;
  text-decoration: none;
}

a:hover {
  color: #996600;
}
